.title {
  font-size: 32px;
  text-transform: capitalize;
  font-weight: 600;
  line-height: 40px;
  text-align: center;
}

.line_chart {
  position: relative;
  height: 40vh;
  width: 80vw;
  margin-left: 15rem;
}